/* == DOCUMENTAÇÃO == */
.documentacao {
  padding: 5rem 2rem;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.documentacao .container {
  max-width: 800px;
  width: 100%;
}

.documentacao h2 {
  font-size: 3.6rem;
  margin-bottom: 3rem;
  color: #171717;
}

.lista-documentos {
  list-style: none;
  padding-left: 0;
}

.lista-documentos li {
  margin-bottom: 2rem;
}

.lista-documentos a {
  text-decoration: none;
  font-size: 2rem;
  color: #333;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  transition: color 0.3s, transform 0.3s;
  padding: 1.2rem 2rem;
  border: 1px solid #ccc;
  border-radius: 0.8rem;
  background-color: #ffffff;
}

.lista-documentos a i {
  font-size: 2.4rem;
  color: #de1111;
}

.lista-documentos a:hover {
  color: #7a3df5;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* == INTEGRANTES == */
.integrantes {
  padding: 5rem 2rem;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.integrantes h2 {
  font-size: 3.6rem;
  margin-bottom: 3rem;
  color: #171717;
  text-decoration: underline;
}

.integrantes p {
  font-size: 2rem;
  color: #333;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  width: 100%;
  max-width: 500px;
  transition: background-color 0.3s, transform 0.3s;
}
