* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff8f8;
  color: #000000;
  padding-top: 10rem; /* compensar o header fixo */
}

/* ============== */
/* === HEADER === */
/* ============== */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fffafa; /* fundo branco fixo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 1rem 1rem; /* borda arredondada inferior */
}

.container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 3rem;
}

.logo-header i {
  font-size: 6rem;
  color: #000;
}

.logo-header h1 {
  font-size: 3.2rem;
  color: #171717;
  font-weight: bold;
  font-family: "Segoe UI", sans-serif;
}

/* Menu de navegação */
nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 1.9rem;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #e91e63;
}

/* Ações no topo */
.acoes-header {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 3rem;
}

.acoes-header a {
  text-decoration: none;
  font-size: 1.9rem;
  color: #000;
  font-weight: bold;
}

.carrinho {
  position: relative;
}

.carrinho i {
  font-size: 3.5rem;
}

.carrinho-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #000000;
  color: white;
  font-size: 1.3rem;
  padding: 0.2rem 0.6rem;
  border-radius: 80%;
}

#botao-tema {
  background: none;
  border: none;
  cursor: pointer;
}

#botao-tema i {
  font-size: 2.4rem;
}
