/* LOGIN ALTERAÇÃO DE TEMA */
body.dark-theme .login-container {
  background-color: #1e1e1e;
}

body.dark-theme .login-form {
  background-color: #474747;
  color: #ffffff;
}

body.dark-theme .login-form h2,
body.dark-theme .login-form label,
body.dark-theme .cadastro-link,
body.dark-theme .cadastro-link a {
  color: #ffffff;
}

body.dark-theme .login-form input {
  background-color: #2a2a2a;
  color: #ffffff;
  border: 1px solid #555;
}

body.dark-theme .senha-group i {
  color: #dddddd;
}

body.dark-theme .btn-login {
  background-color: #ffffff;
  color: #000000;
}

body.dark-theme .btn-google {
  background-color: #2a2a2a;
  color: #ffffff;
  border-color: #555;
}

/* === LOGIN === */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 10rem); /* altura total da tela menos o header */
  padding: 2rem;
  background-color: #fff8f8;
}

.login-form {
  background-color: #fff;
  padding: 5rem 4rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 460px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* animação de entrada */
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
}

.login-form h2 {
  font-size: 3rem; /* aumentado */
  margin-bottom: 1.5rem;
  text-align: center;
  color: #171717;
}

.login-form label {
  font-size: 1.8rem; /* aumentado */
  color: #333;
}

.login-form input {
  font-size: 1.8rem; /* aumentado */
  padding: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 0.8rem;
  outline: none;
  transition: border 0.3s;
}

label {
  transform: translateY(60%);
}

.btn-login {
  background-color: #000;
  color: white;
  font-size: 2rem; /* aumentado */
  padding: 1.2rem;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background 0.3s;
}

.senha-group {
  position: relative;
}

.senha-group input {
  width: 100%;
  padding-right: 4rem; /* espaço para o ícone */
}

.senha-group i {
  position: absolute;
  top: 50%;
  right: 1.2rem;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 2rem;
  color: #828181;
}

.btn-google {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  font-size: 1.8rem; /* aumentado */
  padding: 1.2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: background 0.3s, border 0.3s;
}

.btn-google i {
  font-size: 2.2rem; /* levemente aumentado */
}

.cadastro-link {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.cadastro-link a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  margin-left: 0.5rem;
  transition: color 0.3s;
  font-size: 1.4rem;
}

.cadastro-link a:hover {
  color: #c2185b;
  text-decoration: underline;
}

/* CADASTRO */
.erro-login {
  color: rgb(255, 0, 0);
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.6rem;
}

/* === TRANSIÇÃO === */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
